# Ігнорувати всі папки
new/
old/
unpacked/
download/
tmp/

# Ігнорувати конкретні файли
/checksums.json
/report.md
/test_settings.json
/test_archives.json
/local_settings.json

# Ігнорувати всі .zip файли
# *.zip

# Не ігнорувати .zip файли в папці github
!github/*.zip

# Ігнорувати Python cache
/__pycache__
